[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "coreSim"]
	path = coreSim
	url = https://github.com/christophergandrud/coresim
	shallow = true
	registered = true
[submodule "d3Network"]
	path = d3Network
	url = https://github.com/christophergandrud/d3network
	shallow = true
	registered = true
[submodule "DataCombine"]
	path = DataCombine
	url = https://github.com/christophergandrud/datacombine
	shallow = true
	registered = true
[submodule "dpmr"]
	path = dpmr
	url = https://github.com/christophergandrud/dpmr
	shallow = true
	registered = true
[submodule "dynsim"]
	path = dynsim
	url = https://github.com/christophergandrud/dynsim
	shallow = true
	registered = true
[submodule "imfr"]
	path = imfr
	url = https://github.com/christophergandrud/imfr
	shallow = true
	registered = true
[submodule "networkD3"]
	path = networkD3
	url = https://github.com/christophergandrud/networkd3
	shallow = true
	registered = true
[submodule "plotMElm"]
	path = plotMElm
	url = https://github.com/christophergandrud/plotmelm
	shallow = true
	registered = true
[submodule "pltesim"]
	path = pltesim
	url = https://github.com/christophergandrud/pltesim
	shallow = true
	registered = true
[submodule "repmis"]
	path = repmis
	url = https://github.com/christophergandrud/repmis
	shallow = true
	registered = true
[submodule "simPH"]
	path = simPH
	url = https://github.com/christophergandrud/simph
	shallow = true
	registered = true
[submodule "simpleSetup"]
	path = simpleSetup
	url = https://github.com/christophergandrud/simplesetup
	shallow = true
	registered = true
